# 비밀/산출물은 커밋하지 않음
secrets.json
menu_today.json
menu_card.jpg
menu_card.html
menu_story.jpg
menu_story.html
menu_week.jpg
menu_week.html
menu_week.json
knowledge.jpg
knowledge.html
knowledge_today.json
*.log
last_posted.txt
*.vbs
__pycache__/
*.pyc
