# 비밀/산출물은 커밋하지 않음
secrets.json
menu_today.json
menu_card.jpg
menu_card.html
menu_story.jpg
menu_story.html
menu_week.jpg
menu_week.html
menu_week.json
knowledge.jpg
knowledge.html
knowledge_today.json
news_photo*.jpg
news_card*.jpg
news.html
_news_*.html
news_today.json
itf_photo*.jpg
itf_card*.jpg
_itf_*.html
# 호스팅 이미지(워크플로가 -f로 커밋) + 렌더/시안 임시
img/
_card_*.html
_design.html
design_sample.jpg
*.log
last_posted.txt
*.vbs
__pycache__/
*.pyc
